body {
  color:#000;
  font-family:helvetica, sans-serif;
  font-size:100%;
  line-height:1.25;
  background-color:#fff;
  margin:0;
  padding:0;
}

/* CONTENT */

#content {
  color:#111;
  width: 100%
  margin:7px auto;
  border-top:2px solid #837d7c;
  padding-top:10px;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 { color:#000 }
h1 a, h2 a, h3 a { color:#000 }
h1 {
  font-size:2em;
  letter-spacing:-1px;
  margin-bottom:0;
}
h2 {
  font-size:1.5em;
  letter-spacing:-1px;
  margin:1.25em 0 -0.32em 0;
}
h3 {
  font-size:1.1em;
  letter-spacing:-1px;
  margin:1.8em 0 -0.25em 0;
}
h3 code {
  font-size:1.1em;
  color:#000;
}

/* LINKS */
a {
  color:#000;
  text-decoration:underline; }
a:hover {
  color:#910;
  text-decoration:underline;
}
a img {
  border:none;
}
a.out {
  background: url('/images/link-out.gif') center right no-repeat;
  padding-right: 12px;
}

/* CODE */

code, pre, textarea, tt {
  font-family:"lucida console", "monaco", "andale mono", "bitstream vera sans mono",
    "consolas", monospace;
}
pre {
  font-size:0.85em;
  background:#f4f5f5;
  border:2px solid #d5d0d2;
  padding:0.5em;
  line-height:1.15;
  color:#111;
}
code, tt {
  font-size:0.85em;
  color:#222;
}
h1 code, h2 code, h3 code, h4 code {
  color:#111;
}
pre code {
  font-size:1em;
  color:#222;
}

/* MISC */

hr {
  margin:2em 0;
  padding:0;
  color:#eee;
}

/* HOME */

body {
  background: #fff url(../images/watermark.png) no-repeat fixed right 130px;
}

#home #head, #home #foot {
  display:none;
}

pre {
  overflow: hidden;
}

/* PAGE */
.sidebar {
  width: 30%;
  float: left;
  text-align: right;
  padding: 1%;
  color:#000;
  font-size:62px;
  font-family:'georgia', 'bitstream vera serif', serif;
  letter-spacing:-3px;
  line-height:1;
}
.page {
  width: 60%;
  float: left;
  text-align: left;
  padding: 1%;
  margin-left: 5%;
  background:transparent;
  border-width:0;
}
#klug {
  font-size:100px;
  letter-spacing:-6px;
}
#nav {
  padding:25px 0 50px 0;
  font-size:36px;
  padding-top:20px;
  text-transform:uppercase;
  letter-spacing:4px;
  line-height:1.25;
}
#nav a, #nav a:link, #nav a:visited {
  color:#444;
  text-decoration:none;
}
#nav a:hover {
  color:#000;
  text-decoration:underline;
}
.page #title {
  /*font-size: 28px;*/
}
.page #body {
  text-align: justify;
  line-height: 1.5em;
}
